################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AspectOriantedArchitecture/v16
/DevFramework/DevFramework/.vs/DevFramework/v16/Server/sqlite3
